# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Environments
.env
.venv/
venv/

# OS
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/
**/.streamlit/cache/

# Notebooks
.ipynb_checkpoints/

